<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Swatches\Block\Product\Renderer\Configurable">
		<plugin name="AHT_ProductView::productName" type="AHT\ProductView\Plugin\PluginConfig" sortOrder="1" />
	</type>
	<type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="vendor_configurable_product_configurable" type="AHT\ProductView\Plugin\Product\View\Type\Configurable" sortOrder="1"/>
    </type>    
</config>